# Ignore target folder
/target/

# IDE files
/.idea/
/.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
application.properties

/public/image/

# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar


# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/